* {
  box-sizing: border-box;
}
html {
  font-family: "Sen", sans-serif;
  font-size: 10px;
}
.header {
  padding: 10px 0;
  background: #005ab7;
}
.header.fixed {
  display: block;
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
}
.container {
  margin-top: 100px;
}
.container .main-content {
  width: 1110px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1110px - 48px);
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .logo-img {
  max-width: 100%;
  height: 70px;
  object-fit: cover;
}
/* content */
.container .body {
  padding: 20px;
  width: 100%;
}
.container .body .title {
  text-align: center;
}
.container .body h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 600;
}
.container .body .title p {
  font-size: 2rem;
  margin-top: 10px;
}
.body .table {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 1.8rem;
}
.body .table .column {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9fafb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.body .table .column:hover {
  translate: 0px -5px;
}
.body .table .column .loading::before {
  content: "";
  position: absolute;
  left: 48%;
  top: 48%;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: black transparent red transparent;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}
.body .table .column .loading::after {
  position: absolute;
  content: "Loading";
  top: 69%;
  left: 45%;
}
.body .info-my {
  display: flex;
  justify-content: space-between;
}
.body .my {
  font-size: 2rem;
  opacity: 0.6;
  margin-top: 20px;
}
@keyframes loading {
  from {
    rotate: 360deg;
  }
}
.body .table tr th:first-child,
.body .table tr td:first-child {
  width: 30px;
  font-weight: 600;
}
.body .table th {
  text-align: start;
  font-size: 1.9rem;
  color: red;
}
.body .table th,
.body .table td {
  padding: 10px 0px;
}

.body .table .column.continue {
  padding: 20px;
  background: #005ab7;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column.continue .text-continue {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.body .table .column.continue:hover {
  background-color: #fcd34d;
}
/* responsive */
@media screen and (max-width: 740px) {
  .container .main-content {
    width: 600px;
    max-width: calc(450px - 48px);
  }
  .header {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .header-top {
    padding: 10px 20px;
  }
  .header-top .logo-img {
    height: 60px;
  }
  .container .body .title {
    text-align: center;
    line-height: 30px;
  }
  .container .body {
    padding: 10px 15px;
  }
  .container .body h1 {
    font-size: 2rem;
  }
  .body .table {
    grid-template-columns: 1fr;
    grid-area: auto;
  }
  .body .table th {
    font-size: 1.7rem;
    line-height: 25px;
  }
}
